.depoimentos {
    background-color: var(--rosa-claro);
    text-align: center;
    padding: 4em;
    width: 60%;
    margin: 10vh auto;
}

.depoimentos span {
    color: var(--bordo);
    font-size: 14px;
    font-weight: 600;
}

.depoimentos__titulo {
    font-size: 36px;
    margin: 1em 0;
}

.depoimentos__nome-colaborador {
    margin: 8px 0;
}