.metricas-container {
    display: flex;
    justify-content: space-between;
    margin: 0 10vw;
}

.metricas-container__item {
    width: 20%;
}

.metricas__titulo {
    font-size: 60px;
    font-weight: 600;
    color: var(--bordo);
}

.metricas__subtitulo {
    font-size: 18px;
    margin: 1em 0;
}

.metricas__texto {
    font-weight: 400;
    color: var(--cinza);
    line-height: 24px
}